    <form class="form-inline" action="/recipes/add" method="post">
        <label class="sr-only" for="inlineFormInputName2">Food product</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Food product">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Weight</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder=".g">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add</button>
    </form>
